.sign-in-container {
  background-color: #475569;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-inform-container {
  background-color: #2c364c;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
input {
  color: #fff;
}
.success-signin {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: green;
}
.errorMsg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: red;
}
