* {
  border: border-box;
}

.b {
  border: 2px solid goldenrod;
}

.d-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.d-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
}

@media (min-width: 768px) {
  .login-container {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    align-items: center;
  }

  .login-image-container {
    margin: 15px;
  }

  .my-form {
    background: #fefeff;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    border-radius: 8px;
    height: 458px;
    width: 456px;
    margin: 15px;
    padding: 10px;
  }

  .login-button {
    background: #4094ef;
    border-radius: 5px;
    height: 38px;
    width: 350px;
    outline: none;
    border: none;
    color: white;
    margin: 15px;
  }

  .user-name-container {
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .username {
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 5px;
  }

  .input-container {
    background: #eeeeee;
    border-radius: 2px;
    height: 38px;
    width: 350px;
    outline: none;
    border: none;
    padding: 10px;
  }

  .login-button {
    background: #4094ef;
    border-radius: 5px;
    height: 38px;
    width: 350px;
    outline: none;
    border: none;
    color: white;
    margin: 15px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .login-image-container {
    display: none;
  }

  .login-container {
    border: 2px solid red;
    width: 360px;
    height: 640px;
    margin: 15px;
    padding: 35px;
  }
  .my-form {
    background: #fefeff;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    border-radius: 8px;
    width: 360px;
    height: 640px;
    margin: 15px;
    padding: 30px;
  }

  .user-name-container {
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .username {
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 5px;
    width: 65px;
    height: 16px;
  }

  .input-container {
    background: #eeeeee;
    border-radius: 2px;

    outline: none;
    border: none;
    padding: 10px;
    width: 312px;
    height: 40px;
  }

  .login-button {
    background: #4094ef;
    border-radius: 5px;
    height: 40px;
    width: 312px;
    outline: none;
    border: none;
    color: white;
    margin: 15px;
  }
}

.insta-share-image {
  height: 33px;
  width: 53.4px;
}

.error-msg {
  color: red;
}
