.container {
  list-style-type: none;
  width: 235px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.image {
  width: 230px;
  height: 175px;
  margin-bottom: 8px;
}

.name {
  color: black;
  font-size: 15px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 22px;
  }
}
