/* Write your code here. */
body {
  margin: 0px;
}

.main_container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");

  background-size: cover;

  height: 100vh;

  font-family: "Roboto";

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
}

.main_heading {
  font-family: "Bree Serif";

  font-size: 50px;

  text-align: center;

  font-weight: bold;

  color: #ffffff;
}

.sub_container {
  display: flex;

  flex-wrap: wrap;
}

.yellow_button {
  border-width: 0px;

  border-radius: 20px;

  background-color: #eab308;

  color: #ffffff;

  padding: 20px;

  font-size: 15px;
}

.white_button {
  border-width: 0px;

  border-radius: 20px;

  background-color: #ffffff;

  color: #323f4b;

  padding: 20px;

  font-size: 15px;
}

.blue_button {
  border-width: 0px;

  border-radius: 20px;

  background-color: #1d4ed8;

  color: #ffffff;

  padding: 20px;

  font-size: 15px;
}
